*.class

.DS_Store

# Package Files #
*.jar
*.war
*.ear
build
dist
store/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/nbproject/private/